@import 'variables.scss';
@import 'mixins.scss';

//CSS RESETS
* {
    @include reset(0, 0, border-box, none, none);
    @include transitions($speed, $speed, $speed, $speed);
}

// TYPOGRAPHY
body {
    @include fontProperties($fnt-reg, $bdy, $spc-zero, $wht);
}

p {
    @include fontProperties($fnt-reg, $bdy, $spc-zero, $d-blu);
}

h1 {
    @include fontProperties($fnt-pure, $hdg-1, $spc, $wht);
}

h2 {
    @include fontProperties($fnt-pure, $hdg-2, $spc-zero, $d-blu);
}

h3 {
    @include fontProperties($fnt-bld, $hdg-3, $spc-zero, $wht);
}

h4 {
    @include fontProperties($fnt-reg, $hdg-4, $spc-zero, $d-blu);
}

.bold {
    font-family: $fnt-bld;
}

.boldWht {
    font-family: $fnt-bld;
    color: $wht;
}

.boldBlu {
    font-family: $fnt-bld;
    color: $l-blu;
}

small,
.small body {
    color: $d-blu;
}

// GLOBAL ADJUSTMENTS
.marginTop {
    margin-top: 1em;
}

.marginBot {
    margin-bottom: 1em;
}

.paddingTop {
    padding-top: 70px;
}
.paddingRight {
    padding-top: 15px;
}
.paddingLeft {
    padding-top: 15px;
}
.paddingBot {
    padding-bottom: 130px;
}

.floatRight {
    float: right;
}

.floatRight::after {
    clear: right;
}

.alignCenter {
    text-align: center;
}

// TOOL TIPSTER
.tool-tip-right {
    cursor: pointer;
}