@import 'variables.scss';
@import 'mixins.scss';

// BACKGROUND OVERLAY
.background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: radial-gradient(circle farthest-side,
        rgba(69, 149, 241, 0),
        rgba(10, 15, 27, 0.699),
        );
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
}

// VIDEO
#brand-video {
    @include positioning(absolute, 0, 0, 0, 0);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
}

// SECTIONS
.section2 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background: radial-gradient(circle farthest-side,
        rgba(69, 149, 241, 0),
        rgba(10, 15, 27, 0.699),
        ), url('../img/sections/2.jpg');
    position: fixed;
    width: 100%;
    height: 100%;
}

.section3 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background: radial-gradient(circle farthest-side,
        rgba(69, 149, 241, 0),
        rgba(10, 15, 27, 0.699),
        ), url('../img/sections/3.jpg');
    position: fixed;
    width: 100%;
    height: 100%;
}

.section4 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background: radial-gradient(circle farthest-side,
        rgba(69, 149, 241, 0),
        rgba(10, 15, 27, 0.699),
        );
    position: fixed;
    width: 100%;
    height: 100%;
}

.section5 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background: radial-gradient(circle farthest-side,
        rgba(69, 149, 241, 0),
        rgba(10, 15, 27, 0.699),
        );
    position: fixed;
    width: 100%;
    height: 100%;
}

.section6 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background: radial-gradient(circle farthest-side,
        rgba(69, 149, 241, 0),
        rgba(10, 15, 27, 0.699),
        ), url('../img/sections/6.jpg');
    position: fixed;
    width: 100%;
    height: 100%;
}

.section7 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background: radial-gradient(circle farthest-side,
        rgba(69, 149, 241, 0),
        rgba(10, 15, 27, 0.699),
        );
    position: fixed;
    width: 100%;
    height: 100%;
}

#section2 {
    display: none;
}

#section3 {
    display: none;
}

#section4 {
    display: none;
}

#section5 {
    display: none;
}

#section6 {
    display: none;
}

#section7 {
    display: none;
}

// MAP
#map {
    position: absolute;
    height: 100%;
    width: 100%;
}

// MAP AUTOCOMPLETE
.pac-container {
    cursor: pointer;
}

// FORMS
input {
    cursor: pointer;
}

select {
    cursor: pointer;
}

.form-control {
    box-shadow: rgba(0, 0, 0, 0.2) -6px 7px 2px 0px;
}

.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.custom-select.is-invalid {
    border-color: $in-ylw;
}

.errorMessage {
    display: none;
    color: $in-ylw;
    font-size: 100%;
}

.validMessage {
    margin-top: 0.5em;
    display: none;
    color: #28a745;
}

.col-title {
    height: 100px;
}

.col-info {
    height: 50px;
    text-align: center;
}

.note p {
    text-align: center;
    @include fontProperties($fnt-reg, $bdy, $spc-zero, $l-blu);
}

// FEEDBACK
.invalid-feedback {
    margin-top: 0.5em;
    color: $in-ylw;
    font-size: 100%;
}

.invalid-feedback-start {
    margin-top: 0.5em;
    color: $in-ylw;
    font-size: 100%;
}

.valid-feedback-end {
    margin-top: 0.5em;
    font-size: 100%;
}

.valid-feedback {
    margin-top: 0.5em;
    font-size: 100%;
}

// DATE PICKER
.datepicker1,
.datepicker2 {
    cursor: pointer;
}

.date h4 {
    text-align: center;
    color: $wht;
    font-size: $bdy;
    z-index: 15;
    margin-top: 20px;
}

.optionsFont {
    margin-bottom: 0;
    font-size: 2em;
    color: $wht;
}

.howManyDays {
    display: inline;
}

.picker__input.picker__input--active {
    border-color: $l-blu;
}

// LAYOUT
.container-fluid {
    max-width: 1200px;
    margin: $main-mar;

    h2 {
        @include fontProperties($fnt-pure, $hdg-2, $spc, $l-blu);
        text-align: center;
    }

    h3 {
        color: $wht;
    }
}

.row-blue {
    background-color: $blu-t;
    padding: 1em;
    border: 1px solid $wht;
    border-radius: .5em;
    left: 50%;
    margin-left: -400px;
    margin-top: -270px;
    position: absolute;
    top: 50%;
    height: 444.85px;
    width: 800px;
}

.row-blue-long {
    background-color: $blu-t;
    padding: 1em;
    border: 1px solid $wht;
    border-radius: .5em;
    left: 50%;
    margin-left: -600px;
    margin-top: -300px;
    position: absolute;
    top: 50%;
    height: 600px;
    width: 1200px;
}

// BUTTONS
.btn-dark {
    @include fontProperties($fnt-reg, $bdy, $spc, $d-blu);
    background-color: $l-blu;
    border-color: #343a40;
}

// TICK
.fa-check {
    font-size: 1em;
}

// TEST MAP STUFF
// #origin-input,
// #destination-input {
//   background-color: #fff;
//   font-size: 15px;
//   font-weight: 300;
//   margin-left: 12px;
//   padding: 0 11px 0 13px;
//   text-overflow: ellipsis;
//   width: 200px;
// }

// #origin-input:focus,
// #destination-input:focus {
//   border-color: #4d90fe;
// }

#mode-selector {
    // color: #fff;
    // padding: 5px 15px 0px 15px;
    // text-align: center;
    display: none;
    visibility: hidden;
}

// #changemode-walking,
// #changemode-transit,
// #changemode-driving {
//     margin: 5px 2px 5px 15px;
// }

// #mode-selector label {
//   font-size: 13px;
//   font-weight: 300;
// }