@import 'variables.scss';
@import 'mixins.scss';

// BACKGROUND OVERLAY
.background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: radial-gradient(circle farthest-side,
        rgba(130, 9, 167, 0.506),
        rgba(33, 36, 44, 0.89),
        );
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
}

// VIDEO

#brand-video {
    @include positioning(absolute, 0, 0, 0, 0);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
}

// SECTIONS
.section {
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

#section2 {
    background-image: url('../img/sections/2.jpg');
}

#section3 {
    background-color: $d-blu
}

#section4 {
    background-image: url('../img/sections/4.jpg');
}

#section5 {
    background-image: url('../img/sections/5.jpg');
}

#section6 {
    background-image: url('../img/sections/6.jpg');
}

// SIDE LIST
#pp-nav {
    color: $wht;
}

#pp-nav li .active span,
.pp-slidesNav .active span {
    background: $in-ylw;
}

// MAP
#map {
    height: 100%;
    width: 100%;
}

// CALENDER
.checkInOut {
    margin-top: 2.5em;
    display: flex;
    justify-content: center;
}

.checkIn,
.checkOut {
    box-shadow: rgba(0, 0, 0, 0.2) -6px 7px 2px 0px;
}

.invalid-feedback {
    margin-top: 1em;
    color: $p-red;
}

.datepicker1,
.datepicker2 {
    cursor: pointer;
}

// CONTAINER
.paddingTop {
    padding-top: 130px;
}