@import 'variables.scss';
@import 'mixins.scss';

// BACKGROUND OVERLAY
.background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: radial-gradient(circle farthest-side,
        rgba(130, 9, 167, 0.506),
        rgba(33, 36, 44, 0.89),
        );
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
}

// VIDEO
#brand-video {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
}

// SECTIONS
.section {
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

#section2 {
    background-color: $d-blu;
}

#section3 {
    background-color: $fb-blu;
}

#section4 {
    background-color: $d-blu;
}

#section5 {
    background-color: $fb-blu;
}

#section6 {
    background-color: $d-blu;
}

// SIDE LIST
#pp-nav {
    color: $wht;
}

#pp-nav li .active span,
.pp-slidesNav .active span {
    background: $in-ylw;
}

// MAP
#map {
    height: 100%;
    width: 100%;
}

// POP-UPS