@import 'variables.scss';

// FOOTER
.footer-fixed {
    width: 100%;
    height: 130px;
    position: fixed;
    bottom: 0;
    z-index: 15;
}

.footer-info {
    margin: $ftr-mar;

    p {
        @include fontProperties($fnt-lgt, $bdy, $spc-zero, $wht);
    }
}

// FOOTER BRAND
.footer-brand {
    width: 80px;
    height: 90px;
    float: left;
    margin: 20px;

    svg {
        width: 80px;
    }
}

.footer-brand:hover svg path,
.footer-brand-inner:hover{
    fill: $in-ylw;
}

.footer-brand::after {
    clear: left;
}

// FOOTER SOCIAL
.footer-social {
    width: 180px;
    height: 40px;
    float: right;
    margin: 70px 20px 20px 20px;

    svg {
        cursor: pointer;
        width: 30px;
        margin: 0 5px 0 5px;
    }
}

.footer-social::after {
    clear: right;
}

// SOCIAL ICONS
.social-wht {
    fill: $wht;
}

// FACEBOOK
.fb-blu {
    fill: $fb-blu;
}

.fb-icon:hover .fb-blu {
    fill: $d-gry;
}

// PINTEREST
.p-red {
    fill: $p-red;
}

.p-icon:hover .p-red {
    fill: $d-gry;
}

// TWITTER
.tw-blu {
    fill: $tw-blu;
}

.tw-icon:hover .tw-blu {
    fill: $d-gry;
}

// INSTAGRAM
.in-ylw {
    fill: $in-ylw;
}

.in-icon:hover .in-ylw {
    fill: $d-gry;
}