@import 'variables.scss';
@import 'mixins.scss';

// HEADER
.header-fixed {
    height: 130px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 15;
}

// HEADER MAP BUTTON
.header-map {
    float: left;
    height: 50px;
    margin: 20px 20px 60px 20px;
    width: 50px;

    img {
        cursor: pointer;
        margin: 0;
        width: 50px;
    }
}

.header-map::after {
    clear: left;
}

// HEADER INFO BUTTON
.header-info {
    float: right;
    height: 40px;
    margin: 25px 20px 65px 20px;
    width: 40px;

    img {
        cursor: pointer;
        margin: 0;
        width: 40px;
    }
}

.header-info::after {
    clear: right;
}