@import 'variables.scss';
@import 'mixins.scss';

// PRELOADER
#preloader {
    background: #2b2f3aef;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;

    img {
        background-position: center;
        background-repeat: no-repeat;
        height: 200px;
        left: 50%;
        margin: -100px 0 0 -100px;
        position: absolute;
        top: 50%;
        width: 200px;
    }
}

// BRAND TITLE
.brand-title {
    cursor: pointer;
    left: 50%;
    margin-left: -300px;
    margin-top: -222.425px;
    position: absolute;
    top: 50%;
    height: 444.85px;
    width: 600px;
    z-index: 30;
}

.brand-title:hover .l-blu {
    fill: $in-ylw;
}

// LIGHT BLUE FILL
.l-blu {
    fill: $l-blu;
}

// HEADER
.header-fixed {
    height: 130px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
}

// HEADER MAP BUTTON
.header-map {
    float: left;
    height: 50px;
    margin: 20px 20px 60px 20px;
    width: 50px;

    svg {
        cursor: pointer;
        margin: 0;
        width: 50px;
    }
}

.header-map-icon-inner {
    stroke: $wht;
}

.header-map-icon-outer {
    stroke: $l-blu;
}

.header-map:hover .header-map-icon-inner {
    stroke: $in-ylw;
}

.header-map:hover .header-map-icon-outer {
    stroke: $in-ylw;
}

.header-map::after {
    clear: left;
}

// HEADER INFO BUTTON
.header-info {
    float: right;
    height: 40px;
    margin: 25px 20px 65px 20px;
    width: 40px;

    svg {
        cursor: pointer;
        margin: 0;
        width: 40px;
    }
}

.header-info:hover svg path,
.header-info-inner:hover{
    fill: $in-ylw;
}

.header-info::after {
    clear: right;
}

@media (max-width: 1024px) {

    .brand-title {
        margin-left: -202px;
        margin-top: -150px;
        height: 300px;
        width: 404px;
    }
}

@media (max-width: 586px) {

    .brand-title {
        margin-left: -150px;
        margin-top: -111.5px;
        height: 223px;
        width: 300px;
    }
    .header-fixed {
        height: 80px;
    }
}

@media (max-width: 400px) {

    .brand-title {
        margin-left: -125px;
        margin-top: -92.5px;
        height: 185px;
        width: 250px;
    }
}

// @media (max-height: 586px) {

//     .brand-title {
//         margin-left: -150px;
//         margin-top: -111.5px;
//         height: 223px;
//         width: 300px;
//     }
//     .header-fixed {
//         height: 80px;
//     }
// }