@import 'variables.scss';

// HEADER
.header-fixed {
    width: 100%;
    height: 130px;
    position: fixed;
    top: 0;
    text-align: center;
    z-index: 15;
}

.header-map {
    width: 50px;
    height: 50px;
    float: left;
    margin: 20px 20px 60px 20px;

    img {
        width: 50px;
        margin: 0 5px 0 5px;
    }
}

.header-map::after {
    clear: left;
}

.header-info {
    width: 30px;
    height: 40px;
    float: right;
    margin: 20px 20px 70px 20px;

    img {
        width: 30px;
        margin: 0 5px 0 5px;
    }
}

.header-info::after {
    clear: right;
}