@import 'variables.scss';

// BRAND TITLE
.brand-title {

    img {
        width: 600px;
        height: 325px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -300px;
        margin-top: -250px;
        z-index: 5;

    }
}

// .icon-white {
//     fill: $wht;
// }

// .icon-blue {
//     fill: $l-blu;
// }

// PRELOADER
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2b2f3aef;
    z-index: 10;

    img {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        background-repeat: no-repeat;
        background-position: center;
        margin: -100px 0 0 -100px;
    }
}