@import 'variables.scss';

// BRAND TITLE
.brand-title {

    svg {
        width: 600px;
        height: 600px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -300px;
        margin-top: -400px;
        z-index: 5;

    }
}

.brand-title-fill {
    fill: $wht;
}

// PRELOADER
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2b2f3aef;
    z-index: 10;

    img {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        background-repeat: no-repeat;
        background-position: center;
        margin: -100px 0 0 -100px;
    }
}